UID=1000
GID=1000
HERMES_WEBUI_IMAGE=ghcr.io/nesquena/hermes-webui:latest
HERMES_AGENT_REPO=https://github.com/NousResearch/hermes-agent.git
HERMES_AGENT_REF=main
LOCAL_IMAGE_NAME=hermes-agent-webui:obsidian-hindsight
HERMES_WEBUI_BIND=0.0.0.0
HERMES_WEBUI_PORT=8787
HERMES_WEBUI_PASSWORD=replace-with-strong-password
HERMES_PROFILE=writer
HERMES_EXPERT=writer
HINDSIGHT_API_URL=http://hindsight.superic.com:8888
HINDSIGHT_BANK_ID=hermes-writer
